@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-mono);
}

:root {
  --bg: white;
  --txt: rgb(8, 12, 17);
  --gray: oklch(92.8% 0.006 264.531);
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  background-color: var(--bg);
  color: var(--txt);
}
